body {
  background:  url('images/background-image.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;

}

nav {
  display: grid;
  grid-template-columns: 4fr 6fr 1fr 1fr;
  align-items: center;
  background: rosybrown;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  overflow: hidden;
}
nav ul{
  list-style: none;
  display: flex;
  float: right;
  text-transform: uppercase;
}
nav ul a{
  text-decoration: none;
  color: whitesmoke;
  padding: 1.5rem;
  float: right;
  display: block;
  font-size: 15px;
}
nav h3{
  margin-left: 50px;
  color: whitesmoke;
 
}
.checkbtn{
  font-size: 25px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  color: whitesmoke;
  display: none;
}
#check{
  display: none;
}

nav a:hover {
  background: whitesmoke;
  color: rosybrown;
  border-radius: 5px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: auto auto auto 50px;
  grid-gap: 5px;
  margin-top: 100px;

}

.header {
  background: rosybrown;
  color: whitesmoke;
  overflow: hidden;
  grid-column: span 12;

}

.content {
  grid-column: span 12;
  top: 75;
  margin-left: 50px;
  margin-right: 50px;
}

.container1 {
  background: rgba(188,143,143, 0.5);
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
}
.container {
  background: rgba(188,143,143, 0.5);
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
}
h2 {
  font-family: cursive;
}
h3{
  font-size: 20px;
}
h4 {
  font-family: cursive;
  font-size: medium;
}
p,
ul,
a {
  font-family: serif;
  font-size: 20px;
}
  
#aboutParagraph{
  
  padding-left: 10px;
  padding-right: 10px;
}
img{
  border-radius: 50%;
  width: 15%;
  height: 25%;
}

.footer {
  grid-column: span 12;
  text-align: center;  
}

@media only screen and (max-width: 720px) {
  nav {
    display: grid;
    grid-template-columns: 4fr 8fr;
  }
  nav ul a{
    padding: 1rem;
    float: left;
  }
  .main-nav ul {
    grid-template-columns: 1fr 1fr;
  }
  .header {
    grid-template-columns: 1fr;
  }
  .content {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 600px) {
  nav {
    display: grid;
    grid-template-columns: 11fr 1fr;
  }
  nav h3{
    margin-left: 30px;
    font-size: medium;
  }
  
  ul{
    position: fixed;
    float: none;
    width: auto;
    height: auto;
    background-color: rosybrown;
    top: 60px;
    right: -100%;
    /*overflow: hidden;*/
    align-items: center;;
    flex-direction: column;
    transition: all .5s;
  }

  nav ul li{
    display: block;
  }
  
  .checkbtn{
    display: block;
    cursor: pointer;
  }

  #check:checked ~ ul{
  right: 0;

  }

  .header {
    grid-template-columns: auto;
  }
  .content {
    grid-template-columns: 1fr;
  }

}
