body {
  background:  url('images/background.jpg') no-repeat center center fixed;
  background-image: linear-gradient();
  background-size: cover;
  height: 100%;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;

}

nav {
  display: grid;
  grid-template-columns: 4fr 6fr 1fr 1fr;
  align-items: center;
  background: black;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  overflow: hidden;
  border: 0;
  border-radius: 0;
}
nav ul{
  list-style: none;
  display: flex;
  float: right;
}
nav ul a{
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  float: right;
  display: flex;
  font-size: 15px;
}
nav h3{
  margin-left: 50px;
  color: white;
 
}
.checkbtn{
  font-size: 25px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  color: white;
  display: none;
}
#check{
  display: none;
}

nav a:hover {
  background: none;
  color: gray;
  
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: auto auto auto 50px;
  grid-gap: 5px;
  margin-top: 100px;

}

.content {
  grid-column: span 12;
  top: 100;
  margin-left: 50px;
  margin-right: 50px;
}

.container1 {
  background: rgba(225,225,225, 0.5);
  text-align: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  margin-top: 50px;
  border: 1px solid black;
}
.about{
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-template-rows: auto;
}
.container1 .about .paragraph{
  text-align: left;
}
.container1 .about .image{
  align-self: center;
}
.container1 img{
  border-radius: 50%;
  width: 25%;
  height: 50%;
}
.skills-and-competencies{
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: auto;
  padding: 10px;
  margin: 10px;

}
.skills-and-competencies i{
  margin-top: 10px;
}
.container {
  background: rgba(225,225,225, 0.5);
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
h2 {
  text-transform: uppercase;
}
#nav h3{
  font-size: 20px;
}
#nav a{
  font-size: 20px;
}
p,
ul,
a {
  font-size: 20px;
}
  
#aboutParagraph{
  padding-left: 10px;
  padding-right: 10px;
}

.footer{
  grid-column: span 12;
  text-align: center;  
}
.active {
  display: block; 
}

.inactive {
  display: none;
}

#contacts a{
  margin-left: 20px;
}

@media only screen and (max-width: 720px) {
  nav {
    display: grid;
    grid-template-columns: 4fr 8fr;
  }
  nav ul a{
    padding: 1rem;
    float: left;
  }
  .main-nav ul {
    grid-template-columns: 1fr 1fr;
  }

  .content {
    grid-template-columns: 1fr;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .skills-and-competencies {
    grid-template-columns: 6fr 6fr;
  }
}
@media only screen and (max-width: 600px) {
  nav {
    display: grid;
    grid-template-columns: 11fr 1fr;
  }
  nav h3{
    margin-left: 30px;
    font-size: medium;
  }
  nav ul{
    list-style-type: none;
    display: none;

  }
  
  nav ul{
    position: fixed;
    float: none;
    width: auto;
    height: auto;
    background-color: black;
    top: 60px;
    right: 0;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    transition: all .5s;
  }

  nav ul li{
    display: block;
  }

  .checkbtn{
    display: block;
    cursor: pointer;
  }

  .content {
    grid-template-columns: 1fr;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .skills-and-competencies {
    grid-template-columns: 1fr;
  }

}
