body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 60px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: 50px 50px auto 50px;
    grid-gap: 15px;
    padding: 10px;
    margin: 5px;
   
    
    
}
.main-nav{
    grid-column: span 12;
}
.main-nav ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    list-style: none;
}
.main-nav a{
    background: rosybrown;
    color: whitesmoke;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.8rem;
    border-radius: 5px;

}
.main-nav a:hover{
    background: whitesmoke;
    color: rosybrown;

}

.header{
    grid-column: span 12;
    text-align: center;
}

.content{
    grid-column: span 12;
}
.footer{
    grid-column: span 12;
    text-align: center;
}
@media screen and (max-width: 470px) {
    .main-nav{
        grid-column: span 12;

    }
    .header {
        grid-column: span 12;
    }
    .content {
        grid-column: span 12;
    }
}
.container1{
    background: rosybrown;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.container{
    background: rosybrown;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}


.profile-picture{
    border-radius: 50%;
    align-self: center;
}